.simple-title{
  color: var(--color-second);
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;  
}