.main-stage {  
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  position: relative; 
}

.main-stage img {  
  width: 250px;
  margin-bottom: var(--gap-medium);
}

.main-stage > .simple-title{
  font-size: 24px;
}
