:root{
  --color-primary: #c8d0af; /* background-color */
  --color-second: #000; /* font-color */
  --color-third: #b5c69c; /* article background-color */
  --color-fourth: #9ebb89; /* background-color footer */ 
}